<app-page
  class="split split-left"
  *ngIf="this.recipes"
  [pageNumber]="this.leftPageNumber"
  [recipes]="this.recipes"
  (messageEvent)="receiveMessage($event)">
</app-page>
<app-page
  class="split split-right"
  *ngIf="this.recipes"
  [pageNumber]="this.rightPageNumber"
  [recipes]="this.recipes"
  (messageEvent)="receiveMessage($event)">
</app-page>
<button
  class="turn-page-left"
  *ngIf="this.leftPageNumber > 1"
  (click)="turnPage('left')">
</button>
<button
  class="turn-page-right"
  *ngIf="this.rightPageNumber < this.numberOfRecipes"
  (click)="turnPage('right')">
</button>
