.split {
  height: 100%;
  width: 50%;
  position: absolute;

  background-color: rgb(250, 224, 188);
  background-size: cover;
  backface-visibility: hidden;
  transition: transform 1s cubic-bezier(0.815, 0.005, 0.18, 1.005);
}

.split-left {
  left: 0;
  background-image: linear-gradient(to right,rgba(0,0,0,0.2), rgba(0,0,0,0), rgba(0,0,0,0),
                                  rgba(0,0,0,0), rgba(0,0,0,0.8)), url(src/assets/PaperTextureMirrored.png);
  transform-origin: 100% 0px;
}

.split-right {
  right: 0;
  background-image: linear-gradient(to left, rgba(0,0,0,0.2), rgba(0,0,0,0),rgba(0,0,0,0),
                                 rgba(0,0,0,0), rgba(0,0,0,0.8)), url(src/assets/PaperTextureMirrored.png);
  transform-origin: 0px 0px;
}

button {
  width: 140px;
  height: 90px;
  position: absolute;
  background-size: cover;
  padding: 0;
  border: none;
  z-index: 20;
}

button:hover {
  cursor: pointer;
}

.turn-page-left {
  background-image: url(src/assets/PageCorner.png);
  box-shadow: -10px 20px 20px rgb(61, 58, 58) ;
}

.turn-page-right {
  right: 0;
  background-image: url(src/assets/PageCornerMirrored.png);
  box-shadow: 10px 20px 20px rgb(61, 58, 58) ;
}

.page-container {
  transform-origin: 50% 0px;
}
