/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: 'Courgette', cursive;
  font-size: 1.5em;
  font-weight: 500;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  height: 100%;
  width: 100%;
  padding: 0px;
  font-family: 'Courgette', cursive;
  font-size: 1.0em;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: dotted;;
}

i:hover {
  cursor: pointer;
}

.icon-bold {
  font-weight: 900;
}
