/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: 'Courgette', cursive;
  font-size: 2em;
  font-weight: 500;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: x-large;
}
