<div class="component"
  (mouseover)="showAddStep=true"
  (mouseout)="checkToHideInput()"
>
  <div *ngFor="let step of this.recipes[this.pageNumber - 1].steps; let i = index">
    <div class="input-container">
      <div class="icon-container"
        (mouseover)="showDeleteStep[i]=true && !isUpdateStepEditable[i]"
        (mouseout)="showDeleteStep[i]=false"
      >
        <div [hidden]="!showDeleteStep[i]">
          <i class="material-icons" (click)="deleteStepProcess(step.id)">delete</i>
        </div>
        <div [hidden]="!isUpdateStepEditable[i]">
          <i class="material-icons icon-bold"
            (click)="updateStepProcess(i, step.stepOrder, step.stepProcess)">
            check
          </i>
        </div>
      </div>
      <!-- Display Step -->
      <div *ngIf="!isUpdateStepEditable[i]"
        (mouseover)="showDeleteStep[i]=true"
        (mouseout)="showDeleteStep[i]=false"
        (dblclick)="toggleUpdateStepProcess(i)"
      >
        <p>{{i + 1}}. {{step.stepProcess}}</p>
      </div>
      <!-- Edit Step -->
      <div *ngIf="isUpdateStepEditable[i]" (mouseover)="showDeleteStep[i]=false">
        <div class="input-container">
          <input id="input-edit-step"
            value="{{step.stepProcess}}"
            (dblclick)="isUpdateStepEditable[i]=false"
            (keyup.enter)="updateStepProcess(i, step.stepOrder, step.stepProcess)"
            [(ngModel)]="step.stepProcess"
          >
        </div>
      </div>
    </div>
  </div>
  <!-- Add Step -->
  <div class="input-container add-step-container">
    <div [hidden]="!showAddStep">
      <div *ngIf="!isAddStepEditable" (click)="toggleAddStepProcess()">
        <i class="material-icons">create</i>
      </div>
      <div class="input-container" *ngIf="isAddStepEditable">
        <i class="material-icons icon-bold"
          (click)="toggleAddStepProcess(addStepProcess.value)">
          add
        </i>
        <input id="input-add-step"
          #addStepProcess
          (keyup.enter)="toggleAddStepProcess(addStepProcess.value)"
          (dblclick)="isAddStepEditable=false"
        >
      </div>
    </div>
  </div>
</div>
