.component {
  position: absolute;
  bottom: 0;
  margin-bottom: 36px;
}

.icon-container {
  width: 36px;
  height: 24px;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  margin: 15px;
  padding-right: 30px;
}

input {
  width: 550px;
}
.add-step-container {
  height: 26px;
}

p {
  margin: 0px;
}
