
<!-- Left Page -->
<div class="split left">
    <div *ngIf="leftPageNumber > 1">
      <button class="turnPageLeft" (click)="turnPage(0)"></button>
    </div>
    <p class="pageNumber">{{ leftPageNumber }}</p>
  <table>
    <!-- Display Recipe -->
    <tr (dblclick)="toggleEdit(editType.RECIPENAME, editType.LEFTPAGE)" *ngIf="showEditRecipeNameLeft; else elseBlock">
      <td colspan="2" class="recipeName">{{ this.recipes[this.leftPageNumber - 1].recipeName }}</td>
    </tr>
    <ng-template #elseBlock>
      <tr>
      <div class="editRecipeName">
        <div>
          <!-- Delete Recipe -->
          <button (click)="deleteRecipe(this.recipes[this.leftPageNumber-1]);">
            X
          </button>
        </div>
        <div>
          <input (blur)="updateRecipe(RecipeNameLeft.value, this.recipes[this.leftPageNumber - 1])" class="editRecipeText"type="text" size="1" value={{this.recipes[this.leftPageNumber-1].recipeName}} #RecipeNameLeft/>
        </div>
      </div>
    </tr>
    </ng-template>
      <th>
        <!-- Display Ingredients Left Column-->
        <div *ngFor="let recipeIngredient of getHalfIngredientsFromRecipe(this.recipes[this.leftPageNumber - 1].recipeId, 0); let i = index">
          <td id="ingredientNameTextLeft" (dblclick)="deleteIngredient(recipeIngredient, this.recipes[this.leftPageNumber - 1].recipeId)">
            {{recipeIngredient.name}}
          </td>
        </div>
      </th>
      <th id="rightIngredient">
        <!-- Display Ingredients Right Column-->
        <div *ngFor="let recipeIngredient of getHalfIngredientsFromRecipe(this.recipes[this.leftPageNumber - 1].recipeId, 1); let i = index">
          <td class="ingredientNameTextRight" (dblclick)="deleteIngredient(recipeIngredient, this.recipes[this.leftPageNumber - 1].recipeId)">
            {{recipeIngredient.name}}
          </td>
        </div>
        <div class="flex">
          <div>
            <!-- Add ingredient -->
            <button [hidden]="!showEditIngredientsLeft" (click)="toggleEdit(editType.INGREDIENTS, editType.LEFTPAGE)">
              +
            </button>
            <button [hidden]="showEditIngredientsLeft" (click)="toggleEdit(editType.INGREDIENTS, editType.LEFTPAGE)">
              X
            </button>
          </div>
          <div>
            <input [hidden]="showEditIngredientsLeft" size="1" #ingredientNameLeft/>
          </div>
          <button [hidden]="showEditIngredientsLeft" (click)="addIngredient(ingredientNameLeft.value, this.recipes[this.leftPageNumber - 1].recipeId - 1); ingredientNameLeft.value=''">
            Add
          </button>
        </div>
      </th>
    </table>
    <!-- Display Steps -->
  <div class="steps">
      <ol>
        <div *ngFor="let step of getStepsFromRecipe(this.recipes[this.leftPageNumber - 1].recipeId); let i = index">
          <div *ngIf="showEditStepsLeft; else elseBlock3">
          <li (dblclick)="toggleEdit(editType.STEPS, editType.LEFTPAGE)">
            {{ step.step }}
          </li>
        </div>
        <ng-template #elseBlock3>
          <div class="flex">
            <div>
              <!-- Delete a step -->
              <button (click)="deleteStep(step)">
                X
              </button>
            </div>
            <div>
                <input (dblclick)="toggleEdit(editType.STEPS, editType.LEFTPAGE)" id="leftStep" type="text" class="stepInput" value={{step.step}} #StepLeft/>
            </div>
            <button (click)="updateSteps(StepLeft.value, step)">
              Save
            </button>
          </div>
        </ng-template>
      </div>
      </ol>
      <div class="flex" id="StepDiv">
          <div>
            <!-- Add a step -->
            <button [hidden]="showEditStepsLeft" (click)="addSteps(stepvalue.value, this.recipes[this.leftPageNumber - 1].recipeId - 1); stepvalue.value=''">
              ADD
            </button>
          </div>
          <div>
            <input [hidden]="showEditStepsLeft" type="text" class="stepInput" #stepvalue />
          </div>
        </div>
    </div>
  </div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ PAGE DIVIDER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<!-- Right Page -->
<div class="split right">
    <div *ngIf="this.rightPageNumber < this.recipes.length">
      <button class="turnPageRight" (click)="turnPage(1)"></button>
    </div>
  <p class="pageNumber">{{ rightPageNumber }}</p>
  <table>
    <!-- Display Recipe -->
    <tr (dblclick)="toggleEdit(editType.RECIPENAME, editType.RIGHTPAGE)" *ngIf="showEditRecipeNameRight; else elseBlock2">
      <td colspan="2" class="recipeName">{{ this.recipes[this.rightPageNumber - 1].recipeName }}</td>
    </tr>
    <ng-template #elseBlock2>
      <tr>
      <div class="editRecipeName">
        <div>
          <!-- Delete Recipe -->
          <button (click)="deleteRecipe(this.recipes[this.rightPageNumber - 1]);">
            X
          </button>
        </div>
        <div>
          <input (blur)="updateRecipe(RecipeNameRight.value, this.recipes[this.rightPageNumber - 1])" class="editRecipeText"type="text" size="1" value={{this.recipes[this.rightPageNumber-1].recipeName}} #RecipeNameRight/>
        </div>
      </div>
    </tr>
    </ng-template>
    <th>
      <!-- Display Ingredients Left Column-->
      <div *ngFor="let recipeIngredient of getHalfIngredientsFromRecipe(this.recipes[this.rightPageNumber - 1].recipeId, 0); let i = index">
        <td (dblclick)="deleteIngredient(recipeIngredient, this.recipes[this.rightPageNumber - 1].recipeId)">
          {{recipeIngredient.name}}
        </td>
    </div>
  </th>
  <th>
    <!-- Display Ingredients Right Column-->
    <div *ngFor="let recipeIngredient of getHalfIngredientsFromRecipe(this.recipes[this.rightPageNumber - 1].recipeId, 1); let i = index">
      <td (dblclick)="deleteIngredient(recipeIngredient, this.recipes[this.rightPageNumber - 1].recipeId)">
        {{recipeIngredient.name}}
      </td>
    </div>
    <div class="flex">
      <div>
        <!-- Add ingredient -->
        <button [hidden]="!showEditIngredientsRight" (click)="toggleEdit(editType.INGREDIENTS, editType.RIGHTPAGE)">
          +
        </button>
        <button [hidden]="showEditIngredientsRight" (click)="toggleEdit(editType.INGREDIENTS, editType.RIGHTPAGE)">
          X
        </button>
      </div>
      <div>
        <input [hidden]="showEditIngredientsRight" size="1" #ingredientNameRight/>
      </div>
      <button [hidden]="showEditIngredientsRight" (click)="addIngredient(ingredientNameRight.value, this.recipes[this.rightPageNumber - 1].recipeId - 1); ingredientNameRight.value=''">
        Add
      </button>
    </div>
  </th>
</table>
  <!-- Display Steps -->
  <div class="steps">
    <ol>
      <div *ngFor="let step of getStepsFromRecipe(this.recipes[this.rightPageNumber - 1].recipeId); let i = index">
        <div *ngIf="showEditStepsRight; else elseBlock3">
        <li (dblclick)="toggleEdit(editType.STEPS, editType.RIGHTPAGE)">
          {{ step.step }}
        </li>
      </div>
      <ng-template #elseBlock3>
        <div class="flex">
          <div>
            <!-- Delete a step -->
            <button (click)="deleteStep(step)">
              X
            </button>
          </div>
          <div>
              <input (dblclick)="toggleEdit(editType.STEPS, editType.RIGHTPAGE)" type="text" class="stepInput" value={{step.step}} #StepRight/>
          </div>
          <button (click)="updateSteps(StepRight.value, step)">
            Save
          </button>
        </div>
      </ng-template>
    </div>
    </ol>
    <div class="flex" id="StepDiv">
      <div>
        <!-- Add a step -->
        <button [hidden]="showEditStepsRight" (click)="addSteps(step.value, this.recipes[rightPageNumber - 1].recipeId - 1); step.value=''">
          ADD
        </button>
      </div>
      <div>
        <input [hidden]="showEditStepsRight" type="text" class="stepInput" #step />
      </div>
    </div>
  </div>
</div>

