<div class="container"
  (mouseover)="showAddIngredient=true"
  (mouseout)="checkToHideInput()"
>
  <table>
    <th>
      <!-- Left Column -->
      <tr *ngFor="let ingredient of getHalfIngredientsFromRecipe(0); let i=index">
        <div class="icon-container"
          (mouseover)="showLeftDeleteIngredient[i]=true && !isUpdateLeftIngredientEditable[i]"
          (mouseout)="showLeftDeleteIngredient[i]=false"
        >
          <div [hidden]="!showLeftDeleteIngredient[i]">
            <i class="material-icons" (click)="delete(ingredient.name)">delete</i>
          </div>
          <div [hidden]="!isUpdateLeftIngredientEditable[i]">
            <i class="material-icons icon-add"
              (click)="updateIngredient(i, ingredient.name, 0)">
              check
            </i>
          </div>
        </div>
        <!-- Show ingredient -->
        <td *ngIf="!isUpdateLeftIngredientEditable[i]"
          (mouseover)="showLeftDeleteIngredient[i]=true"
          (mouseout)="showLeftDeleteIngredient[i]=false"
          (dblclick)="isUpdateLeftIngredientEditable[i]=true"
        >
          {{ingredient.name}}
        </td>
        <!-- Edit ingredient -->
        <td *ngIf="isUpdateLeftIngredientEditable[i]" (mouseover)="showLeftDeleteIngredient[i]=false">
          <div class="input-container">
            <input id="input-edit-text"
              value="{{ingredient.name}}"
              (dblclick)="isUpdateLeftIngredientEditable[i]=false"
              (keyup.enter)="updateIngredient(i, ingredient.name, 0)"
              [(ngModel)]="ingredient.name"
            >
          </div>
        </td>
      </tr>
    </th>
    <th>
      <!-- Right Column -->
      <tr *ngFor="let ingredient of getHalfIngredientsFromRecipe(1); let i=index">
        <!-- Show ingredient -->
        <td *ngIf="!isUpdateRightIngredientEditable[i]"
          (mouseover)="showRightDeleteIngredient[i]=true"
          (mouseout)="showRightDeleteIngredient[i]=false"
          (dblclick)="isUpdateRightIngredientEditable[i]=true"
        >
          {{ingredient.name}}
        </td>
        <!-- Edit ingredient -->
        <td *ngIf="isUpdateRightIngredientEditable[i]" (mouseover)="showRightDeleteIngredient[i]=false">
          <div class="input-container">
            <input id="input-edit-text"
              value="{{ingredient.name}}"
              (dblclick)="isUpdateRightIngredientEditable[i]=false"
              (keyup.enter)="updateIngredient(i, updateRightIngredientName.value, 1)"
              #updateRightIngredientName
            >
            <i class="material-icons icon-add"
              (click)="updateIngredient(i, updateRightIngredientName.value, 1)">
              check
            </i>
          </div>
        </td>
        <div class="icon-container"
          (mouseover)="showRightDeleteIngredient[i]=true"
          (mouseout)="showRightDeleteIngredient[i]=false"
        >
          <div [hidden]="!showRightDeleteIngredient[i]">
            <i class="material-icons" (click)="delete(ingredient.name)">delete</i>
          </div>
        </div>
      </tr>
      <!-- Add Ingredient -->
      <tr [hidden]="!showAddIngredient">
        <td *ngIf="!isAddIngredientEditable" (click)="toggleAddIngredient()">
          <i class="material-icons">create</i>
        </td>
        <div class="input-container" *ngIf="isAddIngredientEditable">
          <input id="textInput"
            #addIngredientName
            (keyup.enter)="toggleAddIngredient(addIngredientName.value)"
            (dblclick)="isAddIngredientEditable=false"
          >
          <i class="material-icons icon-add"
            (click)="toggleAddIngredient(addIngredientName.value)">
            add
          </i>
        </div>
      </tr>
    </th>
  </table>
</div>
